* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
    background-color: lightcyan;
}
header{
  width: 100%;
    text-align: center;
}
header #pro {
  color: red;
  text-decoration: underline;
  margin-right: 2px;
  font-style: italic;
}

header img {
  width: 30%;
}