header{
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
header img{
    height: 50px;
}
nav a{
    text-decoration: none;
    color: grey;
    padding-right: 5px;
}
.center{
    display: flex;
}
main{
    background-color: grey;
    display: flex;
    align-items: flex-start;
}
.profile-photo{
    width: 30%;
    border-radius: 50%;
}
.section-item{
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
}
.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-photo{
    width: 100%;
}
.section button{
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}
#start-post-container{
    display:flex;
    align-self: flex-start;
}
#start-post-input{
    flex-direction: column;;
}