header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 50px;
  }
  
  nav a {
    text-decoration: none;
    color: grey;
    padding-right: 5px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main {
    background-color: rgb(239, 239, 239);
    height: 700px;
    display: flex;
    align-items: flex-start;
  }
  
  .profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  section {
    margin: 15px;
  }
  
  section:first-child {
    flex: 2;
  }
  
  section:nth-child(2) {
    flex: 5;
  }
  
  section:last-child {
    flex: 3;
  }
  
  .section-item {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
  }
  
  .section-photo {
    width: 100%;
  }
  
  section button {
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
  }
  
  #start-post-container {
    display: flex;
    align-self: flex-start;
  }
  
  #start-post-input {
    width: 200px;
  }
  
  .w-100 {
    width: 100%;
  }