body{
   width: 100%;
   height: 100%;
   background-image: url(https://th.bing.com/th/id/OIP.0ku1AvUo__-ohxH4EqTXOAHaEo?w=288&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
   
}

form{
    background-color: white;
    margin-right: 35% ;
    margin-left: 35%;
    margin-top: 3%;

}
fieldset{
    padding-left: 25px;
    padding-bottom: 60px;
}
form h1{
    text-align: center;;
}
input{
    display: block;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
form button{
    display: block;
    width: 120px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background-color: black;
}
form textarea{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 10px;
}