
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  
  .container > div {
    background-color: red;
    min-height: 30vh;
    color: white;
    padding: 10px;
    margin: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      grid-template-columns: 2fr 1fr 1fr;
      gap: 20px;
    }
  
    .container > div {
      padding: 20px;
      margin: 20px;
    }
  
    .grid-item-1 {
      grid-column: span 3;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      gap: 30px;
    }
  
    .container > div {
      padding: 30px;
      margin: 30px;
    }
  
    .grid-item-1 {
      grid-column: span 1;
      grid-row: span 2;
    }
  
    .grid-item-2 {
      grid-column: span 2;
    }
  }