.wrapper{
    background-color: grey;
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: #fff;
    display: flex;
    margin: 0 20% 0 20%;
    align-items: center;;
}
header img{
    width: 150px;
    border-radius: 20px;
}
main{
    display: flex;
    margin: 20px 20% 0 20%;
    background-color: #fff;
    height: 3rem;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 0 10px 0 10px;
}
.navbar a:hover{
    text-decoration: underline;
}
