body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(5, 0, 32);
}

#img {
    text-align: center;
}

h1,
nav,
table,
p,
button {
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

nav {
    text-align: right;
    padding: 20px;
    background-color: gold;
}

nav a {
    margin: 15px;
    text-decoration: none;
    color: white;
}

#about h1,
#about p {
    color: black;
}

#about p {
    text-align: justify;
}

#button {
    text-align: center;
    padding-bottom: 10px;
}

button {
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    text-decoration: underline;
    padding: 6px;
    width: 7%;
    font-weight: 600;
}

#table {
    background-color: rgb(0, 0, 131);
    padding: 15px;
}

main table {
    border-collapse: collapse;
    width: 60%;
}

main table th,
main table td {
    color: white;
    padding: 7px;
    border: 2px solid red;
    font-size: 18px;
}

main table td {
    text-align: right;
    font-weight: bold;
}

.vardas {
    text-align: center;
    font-weight: normal;
}

#contact h1 {
    color: black;
}

ul {
    margin-left: 20%;
    margin-right: 20%;
}

#contact div {
    text-align: center;
    padding-bottom: 20px;
}

#contact a {
    color: blue;
}

footer {
    background-color: rgb(214, 194, 13);
    color: white;
    text-align: center;
    padding: 1px;
}
