table{
    border-collapse: collapse;
    background-color: white;
}
tr td{
        border: 5px solid black;;
        width: 100px;
        height: 100px;
        border-collapse: collapse;
    }
tr:nth-child(odd) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(even) td:nth-child(even){
    background-color: black;
}