* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 30% 0 30%;
}
header img {
  height: 100px;
}
header nav {
  padding: 0.5rem 0 0.5rem 0;
  word-spacing: 1rem;
  background-color: green;
}
nav a {
  color: white;
  text-decoration: none;
}
main {
  background-color: lightgrey;
}
main img {
  padding-top: 1rem;
  width: 95%;
}
main h2 {
  color: white;
  background-color: green;
  width: 95%;
  text-align: left;
  padding-left: 0.3rem;
}
main p {
  text-align: left;
  width: 95%;
  font-weight: bold;
  padding: 0.5rem 0;
}

.contacts{
    background-color: lightgreen;
}