.grid-container{
    display: grid;
    grid-template-columns: 1fr;

}

@media screen and (min-width: 768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .grid-container > :first-child{
        grid-column: span 2;
    }
}

@media screen and (min-width:800px){
    
}