header{
  text-align: center;
}

.microsoft-logo{
  width: 150px;
}

.green-background{
  background-color: lightgreen;
}

nav{
  background-color: green;
  text-align: center;
  padding: 10px 0;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.desert-image{
  width: 100%;
}
.about{
  padding: 10px;
}

footer{
  background-color: lightgreen;
  padding: 10px;
}