body {
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background: #FFFFFF;
}

{
  margin: 0 auto 0 auto;
 text-align:left;}
 
 
 html, body {
text-align: center;
}


h1
{
font-size:30px;
font-weight:normal;
padding:10px;
}


h2
{
font-size:26px;
font-weight:normal;
padding-left:15px;
padding-top:35px;
text-decoration: line-through;
}

#main
{
width:641px;
height:auto;
padding-bottom:20px;
}

#header
{
color:#ffffff;
clear:both;
width:641px;
height:25px;
background-color: aquamarine;
background-repeat:no-repeat;
text-align:right;
line-height:25px;
text-decoration: underline;

}

#header a, #header, #header
{
font-size:12px;
font-weight:bold;
color:#000000;
padding-left:12px;
padding-right:5px;
text-decoration:none;
line-height:25px;
text-decoration: underline;
}

#footer
{
color:#000000;
font-size:10px;
clear:both;
width:641px;
height:25px;
background-color: aquamarine;
background-repeat:no-repeat;
text-align:center;
line-height:25px;
font-weight:normal;
}

#footer a, #footer, #footer 
{
font-size:10px;
color:#FFFFFF;
text-decoration:none;
line-height:25px;
}

#contentColumn
{
float:left;
width:441px;
}

#navColumn
{
float:left;
width:200px;
padding-top:50px;
}
#contentColumn p
{
text-align:left;
line-height:25px;
letter-spacing:-1px;
margin:6px;
color: purple;
font-style: italic;
}



.divider
{
background-color: rgb(144, 25, 114);
width:408px;
height:3px;
margin-bottom:10px;

}
.subHeader
{
margin-top:20px;
margin-bottom:4px;
width:150px;
height:20px;
text-align:center;
color: #000000;
}

.subHeader h3
{
font-size:13px;
line-height:20px;
color:#000000;
text-align:center;
font-style: italic;
}

ul,  li
{
text-align:right;
padding:3px;
color: red;
}