* {
    box-sizing: border-box;
}
header {
    text-align: center;
}
header nav {
    word-spacing: 6rem;
    background-color: green;
    padding: 0.8rem;
}
header nav a {
    text-decoration: none;
    color: white;
}
main{
    background-color: lightgrey;
    margin: 0;
}
main img {
    width: 95%;
    margin: 0 1rem;
 }
    
main h2, p {
    width: 95%;
    margin: 0.5rem 1rem;
}
h2{
    background-color: green;
    padding: 0.5rem 0.5rem;
    color: white;
}
footer{
    background-color: lightgreen;
    padding: 1rem 0;
}
footer h2, p {
    width: 95%;
    margin: 0.5rem 1rem;
}