* {
    background-color: blue;
    box-sizing: border-box;
}
.container, .fluid-container {
max-width: 750px;
border: 1px solid crimson;
display: flex;
gap: 1rem;
margin-top: 2rem;
margin-left: 2rem;
}

.cell, .fluid {
background-color: crimson;
border: 1px solid black;
width: 100px;
line-height: 100px;
font-size: 2rem;
text-align: center;
border-radius: 30px;
}

@media screen and (min-width: 768px) {
.container {
flex-direction: column;
}
}

.fluid-container div:first-child{
    width: 60%;
}
.fluid-container div:last-child{
    width: 40%;
}
img {
    max-width: 750px;
    margin-top: 1rem;
    border-radius: 20px;
    margin-left: 2rem;
}