.{
    box-sizing: border-box;
}
.container{
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(6, auto);
    border: 2px solid black;
    justify-content: start;
    margin: 5rem auto;

}
.cell{
    margin: 1rem;
    width: 100px;
    height: 50px;
     align-self: center;
     justify-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.cell:nth-of-type(even){
    background-color: grey;
}
.cell:nth-of-type(odd){
    background-color: black;
    color: white;
}
.el-2{
    grid-column: 3/6;
    grid-row: 2;
}
/* .el-3{
    grid-row: 1; 
} */
/* .el-4{
    grid-column: 3;
    grid-row: 1;
/* } */
/* .el-5{
    grid-column: 4;
    grid-row: 1;
}
.el-6{
    grid-column: 5;
    grid-row: 1;
} */

/* .el-7{
    grid-column: 6;
    grid-row: 1;
}
.el-11{
    grid-column: 1;
} */