  :root {

    --brand-main-color: #f56347;
  
    --main-background-color: #fbd7b5;
  
    --main-font-color: #0c2461;
  
    --paragraph-font-color: #778791;
  
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "sans-serif";
}